<body id = "new-sighting">

<div class="container ">

<h1>Sightings</h1>

<div class="row">

    <div class="col-sm-6 new-sighting">
        <h2>Report a sighting</h2>
    <%= render 'form', sighting: @sighting %>
    </div>

    <div class="col-sm-6 new-sighting">
        <h2>See sightings</h2>
        <form action="/sightings" method="get">
            <label for="start_date">Start date</label>
            <input id="start_date" name="start_date" type="date" >
            <label for="end_date">End date</label>
            <input id="end_date" name="end_date" type="date" >
            <br><br>
            <button>See sightings</button>
        </form>
        <%= image_tag "bird.png", class: "animals", id: "bird"%>

    </div>

</div>

<div class="row link-at-bottom">
    <a href="/">Home</a>
    <a href="/animals/new">Add an animal</a>

</div>


</div>



</body>
