<h1>Home Page</h1>
<a href="animals#create">See an animal? Add it to our DB if it's not there already</a>
<br>
<a href="/sightings/new">See an Animal? Record the sighting</a>

<br>
<form action="/sightings" method="get">
  <label for="start_date">Start date</label>
  <input id="start_date" name="start_date" type="date">
  <label for="end_date">End date</label>
  <input id="end_date" name="end_date" type="date">
  <button>Run report</button>
</form>
